.table2 {background:#87A0AB;padding:20px;border:outset 5px #5c7a7c;border-radius:10px;
-moz-border-radius:10px;-webkit-border-radius:10px;
-webkit-box-shadow:#666 0px 2px 3px;-moz-box-shadow:#666 0px 2px 3px;
box-shadow:#666 0px 2px 3px;behavior:url(PIE.htc);
}
.zagalovok {font-family:'Verdana';font-size:18px;color:#325162;text-decoration:none;font-weight: bold;}
.lable {text-align:left;clear:left;display:block;font-size:13px;font-family:"Verdana";color:#FF2B29;}
.input {text-align:left;background-color:#F0F0F0;border:0px;font-size:14px;font-weight:bold;
font-family: Arial, Helvetica, sans-serif;color:#1C5455;
}
.warning_table {background:#F0F0F0;border:outset 5px #666666;border-radius:10px;
-moz-border-radius:10px;-webkit-border-radius:10px;
-webkit-box-shadow:#666 0px 2px 3px;-moz-box-shadow:#666 0px 2px 3px;
box-shadow:#666 0px 2px 3px;behavior:url(PIE.htc);
}
.warning_font_big {font:Arial;font-size:30px;color:#B70004;}
.warning_font {font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;color:#333;padding-top:15px;
}
.link {font-family:Verdana, Arial, Helvetica, sans-serif;font-size:12px;color:#B70004;}
